# LaTeX auxiliary files
latex/**/*.aux
latex/**/*.log
latex/**/*.fls
latex/**/*.fdb_latexmk
latex/**/*.synctex.gz
latex/**/*.out
latex/**/*.toc
latex/**/*.nav
latex/**/*.snm
latex/**/*.vrb

latex/**/*.bbl
latex/**/*.bbl*
latex/**/*.listing

latex/**/*.synctex*
latex/**/*.synctex.gz

# minted
latex/**/_minted
latex/**/.minted

# biblatex
latex/**/*.bcf
latex/**/*.blg
latex/**/*.run.xml

# stata
stata/**/*.stswp